.MainNav {
    border-bottom: 1px solid #DCDCDB;
}

.MainNav ul{
    margin: 0px 0px;
    padding: 0px 0px;
}
.MainNav ul li{
    list-style: none;
    display: inline-block;
    /* padding: 10px 10px; */
    border-bottom: 2px solid transparent;
    transition: .3s;
}
.MainNav ul li:hover{
    border-color: #18A79A;
}
.MainNav ul li a {
    text-decoration: none;
    color: #484848;
    font-weight: 500;
    font-size: 12px;
    transition: .3s;
    padding: 10px 10px;
    display: inline-block;
}
.MainNav ul li a:hover{
    color: #18A79A;
}