.TopNavigation {
    float: right;
    padding-right: 10px;
}
.TopNavigation ul{
    margin: 0px 0px;
}
.TopNavigation ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 10px;
}
.TopNavigation ul li a {
    text-decoration: none;
    color: #484848;
    font-weight: 500;
    font-size: 12px;
}