.ReviewItem {
    float: left;
    width: 100%;
}
.ReviewItem img {
    width: 100%;
}
.ReviewItem p{
    font-size: 13px;
}
.AuthorContent{}
.AuthorImg{
    float: left;
    width: 15%;
}
.AuthorImg img{
    width: 100%;
}
.AuthorDesc{
    float: left;
    width: 85%;
    padding-left: 10px;
}

.AuthorDesc h6 {
    font-size: 16px;
    font-weight: 600;
}