.BookedCard {
    float: left;
    width: 100%;
    overflow: hidden;
}
.BookedCard img{
    height: 400px;
    object-fit: contain;
    margin-bottom: 10px;
}
.BookedCard p {
    margin-bottom: 0px;
    font-size: 13px;
    margin-top: 0px;
    margin-bottom: 10px;
}
.ReviewStar{
    display: inline;
    width: 30%;
    vertical-align: middle;
    margin-right: 10px;
}