.SubmitBTN {
    display: inline-block;
    width: auto;
    padding: 10px 60px;
    background: #FF5A60;
    border: none;
    outline: none;
    color: #FFFFFF;
    font-weight: 500;
    border-radius: 20px;
    transition: .3s;
    margin: 20px 0px;
}
.capitalize {
    text-transform: capitalize;
}
.SubmitBTN:hover {
    opacity: .7;
}
.Legend {
    padding: 4px 0px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 20px;
}
.Host label {
    text-transform: capitalize;
    font-weight: 500;
}
.Host {
    float: left;
    width: 100%;
    padding: 40px 0px;
}
.Host h4 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.Host p {
    font-size: 13px;
    margin-bottom: 10px;
    text-align: center;
    
}