.DateRange {
    width: 99%;
    position: relative;
    height: 35px;
}
.DateRangeInput {
    width: 50%;
    position: relative;
    left: 0px;
    top: 0px;
    height: 100%;
    padding-left: 40px;
    border: none;
    color: #484848;
    font-size: 14px;
}
.StartInput{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.EndInput{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.DateRangeInput:focus {
    outline: none;
    border: none;
}
.Divider{
    position: absolute;
    top: 5px;
    left: 46%;
    z-index: 9;
}
.Divider i {
    font-size: 10px;
}