.SearchList {
    float: left;
    width: 100%;
}
.SearchListContent{
    float: left;
    width: 100%;
    padding: 40px 0px;
}
.SearchPAgination {
    float: left;
    width: 100%;
    padding: 40px 0px;
}